.profile-row {
  width: fit-content;
  margin: 30px 0;
  justify-content: center;
}

.profile-row-nav {
  width: 300px;
  height: fit-content;
  background-color: rgb(255, 233, 208);
  border: 1px solid rgb(255, 162, 125);
  margin: 0 2px 2px 2px;
}

.profile-row-nav-row {
  height: 40px;
  border-bottom: 1px solid rgb(255, 162, 125);
  border-right: 0px;
  line-height: 40px
}

.profile-row-nav-row:last-child {
  border-bottom: none;
}  