.orange-button {
  color: white;
  background-color: rgb(255, 163, 58);
  border-radius: 10px;
}


.profile {
  padding: 0 25px;
  border: 1px solid rgb(255, 162, 125);
}

.profile-row {
  width: fit-content;
  margin: 30px 0;
  justify-content: center;
}

.profile-row-nav {
  width: 300px;
  height: fit-content;
  background-color: rgb(255, 233, 208);
  border: 1px solid rgb(255, 162, 125);
  margin: 0 2px 2px 2px;
}

.profile-row-nav-row {
  height: 40px;
  border-bottom: 1px solid rgb(255, 162, 125);
  border-right: 0px;
  line-height: 40px
}

.profile-row-nav-row:last-child {
  border-bottom: none;
}

.profile-row-col {
  height: fit-content;
}

.profile-title {
  font-size: 23px;
}

.profile-form {
  width: 450px;
}

.profile-reception-block  {
  border: 1px solid rgb(255, 162, 125);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.profile-reception-block-title {
  font-weight: 900;
}

.services-row {
  margin: 30px 0;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) { 
  .services-row-col ul {
    text-align: center;
      list-style: none;
    }
}

.services-row-col-title {
  border: 1px solid;
  border-radius: 10px;
  color: rgb(255, 162, 125);
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .services-row-col > ul {
    padding-left:0;
  }
}

ul {
  text-align: left;
  font-size: 23px;
  color: black;
}

li {
  font-size: 18px;
  color: rgb(117, 65, 65);
}

.service-registry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  border: 1px solid rgb(255, 162, 125);
  border-radius: 5px;
}

.service-registry-link {
  color: rgb(117, 65, 65);
}

.service-registry-link:hover {
  color: rgb(255, 142, 77);
}

.service-registry-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.submitedServiceRegistry {
  color: red;
}

.errorImg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}