.mycontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(117, 65, 65);
  font-family: "Arial", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 30px;
  color: rgb(117, 65, 65);
}

.header-name {
  margin-right: 25px;
  font-size: 40px;
  font-weight: lighter;
  color: rgb(255, 142, 77);
}

.header-name:hover {
  text-decoration: none;
  color: rgb(255, 184, 143);
}

.header-nav {
  display: flex;
  align-items: baseline;
  font-size: 28px;
}

.header-nav-item {
 margin: 0 auto;
}

/* @media (max-width: 768px) {
  .header-nav-full {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-nav-short {
    display: none;
  }
} */

.header-nav-link {
  text-decoration: none;
  margin-right: 20px;
  font-size: 28px;
  color: rgb(117, 65, 65);
}

.header-nav-linkSmall {
  font-size: 22px;
}

.header-nav-linkShort {
  font-size: 18px;
  padding: 0 15px;
}

.header-nav-link:hover {
  text-decoration: none;
  color: rgb(255, 142, 77);
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* min-width: 800px; */
  align-items: center;
  background-color: rgb(255, 233, 208);
  color: rgb(117, 65, 65);

}

.logo-image {
  margin: 30px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid rgb(255, 189, 162);
  max-width: 800px;
  height: 320px;
  background: url("cat.jpg") 0 20% no-repeat;
  background-size: cover;
}

.logo-image-text {
  width: 40%;

}

.logo-image-text-title {
  text-align: left;
  font-size: 25px;
}

.logo-image-text-info {
  margin-top: 10px; 
  text-align: left;
  font-size: 20px;
}

@media (max-width: 768px) {
  .logo-image-text-title {
    font-size: 20px;
  }
  .logo-image-text-info {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .logo-image-text-title {
    font-size: 18px;
  }
  .logo-image-text-info {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .logo-image-text {
    width: 90%;
  
  }
}

.orange-button {
  color: white;
  background-color: rgb(255, 163, 58);
  border-radius: 10px;
}

.body-title {
  margin: 40px 0 20px;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: rgb(117, 65, 65);
  letter-spacing: 1px;
}

.body-subtitle {
  font-size: 20px;
  color: grey;
}

.body-info {
  display: flex;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
}

.body-info-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.body-info-header {
  color: rgb(255, 162, 125);
  font-weight: 300;
  font-size: 40px;
}

.body-info-body {
  font-size: 25px;
}

.body-info-footer {
  color: grey;
  font-size: 18px;
  font-weight: 300;
}

.masters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masters-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.masters-body-text {
  text-align: left;
}

@media (max-width: 689px) { 
  .masters-body-text {text-align: center;}
}

.masters-title {
  color: rgb(255, 162, 125);
  font-size: 33px;
  font-weight: 400;
}

.masters-text {
  font-size: 20px;
}

.master {
  background-color: white;
  border: 3px solid rgb(255, 219, 204);
  border-radius: 7px;
  max-width: 800px;
  height: 300px;
  margin: 30px 0 0;
  display: flex;
}

.master:last-child {
  margin-bottom: 30px;
}

.masters-category span {
  display: block;
  font-size: 17px;
}


.masters-face {
  margin-bottom: 15px;
}

.masters-image {
  border-radius: 5px;
}

.masters-image img {
  border-radius: 5px;
  object-fit: cover;
  width: 300px;
  height: 294px;
}

@media (max-width: 689px) { 
  .masters-image img {display: none;}
  .master {margin: 10px 0 0;}
  .masters-body {
    padding: 5px 10px;
  }
}

.profile {
  padding: 0 25px;
  border: 1px solid rgb(255, 162, 125);
}

.profile-row {
  width: fit-content;
  margin: 30px 0;
  justify-content: center;
}

.profile-row-nav {
  width: 300px;
  height: fit-content;
  background-color: rgb(255, 233, 208);
  border: 1px solid rgb(255, 162, 125);
  margin: 0 2px 2px 2px;
}

.profile-row-nav-row {
  height: 40px;
  border-bottom: 1px solid rgb(255, 162, 125);
  border-right: 0px;
  line-height: 40px
}

.profile-row-nav-row:last-child {
  border-bottom: none;
}

.profile-row-col {
  height: fit-content;
}

.profile-title {
  font-size: 23px;
}

.profile-form {
  width: 450px;
}

.profile-reception-block  {
  border: 1px solid rgb(255, 162, 125);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.profile-reception-block-title {
  font-weight: 900;
}

.services-row {
  margin: 30px 0;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) { 
  .services-row-col ul {
    text-align: center;
      list-style: none;
    }
}

.services-row-col-title {
  border: 1px solid;
  border-radius: 10px;
  color: rgb(255, 162, 125);
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .services-row-col > ul {
    padding-left:0;
  }
}

ul {
  text-align: left;
  font-size: 23px;
  color: black;
}

li {
  font-size: 18px;
  color: rgb(117, 65, 65);
}

.service-registry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  border: 1px solid rgb(255, 162, 125);
  border-radius: 5px;
}

.service-registry-link {
  color: rgb(117, 65, 65);
}

.service-registry-link:hover {
  color: rgb(255, 142, 77);
}

.service-registry-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.submitedServiceRegistry {
  color: red;
}

.footer {
  display: flex;
  flex-shrink: 0;
  align-items: top;
  justify-content: center;
  font-size: 17px;
  padding: 10px;
  border-top: 1px solid rgb(255, 189, 162);
}

.footer-addresses {
  display: flex;
}

.footer-addresses-address {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.footer-addresses-address-street {
  font-weight: 600;
}

.footer-addresses-address-phone {
  font-weight: 100;
}

.footer-addresses-address img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: rgb(117, 65, 65);
}

.footer-social-inst,
.footer-social-vk {
  font-weight: 100;
}

.footer-social img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .footer-addresses{
    display: none;
  }
}

.errorImg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}