.body-title {
  margin: 40px 0 20px;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: rgb(117, 65, 65);
  letter-spacing: 1px;
}
  
.body-subtitle {
  font-size: 20px;
  color: grey;
}
  
.body-info {
  display: flex;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
}

.body-info-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.body-info-header {
  color: rgb(255, 162, 125);
  font-weight: 300;
  font-size: 40px;
}

.body-info-body {
  font-size: 25px;
}

.body-info-footer {
  color: grey;
  font-size: 18px;
  font-weight: 300;
}
  